<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Ups! Error</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>

</head>
<body>
<div>
    <div id="container">
        <section class="text-center">
            <div>
                <h1> Ups! Error </h1>
                <h2><span th:text="${error}">Page Not Found</span></h2>
            </div>
            <p th:text="${message} == 'No message available' ? 'For Some Reason This Page Cannot Be Loaded' : ${message}">
                For Some Reason The Page You Requested Could Not Be Found On Our Server</p>

            <p>
              <a href="/login">
                  &laquo; Get In
              </a> /
              <a href="https://www.talkabot.id/">
                Home &raquo;
              </a>
            </p>
        </section>
    </div>
</div>
</body>
</html>
