<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">

  <title>Personal ERP - Mczal</title>

  <link th:href="@{/stylesheets/index.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container">

  <header class="base__header">
    <div class="base__header__dropdown-list">
      <div class="glyphicon glyphicon-th-list"></div>
    </div>

    <div class="base__header__profile-icon">
      <div class="glyphicon glyphicon-user"></div>
    </div>

    <!--<form th:action="@{/logout}" method="post">-->
      <!--<button type="submit" class="btn btn-primary">LOGOUT</button>-->
    <!--</form>-->
  </header>

  <div class="base__content">
    This is content
  </div>

  <!--<footer class="base__footer">-->
    <!--This is footer-->
  <!--</footer>-->

</div>
</body>
</html>